## Créer un environnement python 3.10

## Packages à installer :
streamlit
pyserial
opencv-python
bleak
nest_asyncio
image
colormath
heatshrink2
random

## Fichier à avoir :
ALookCom.commandPub
ALookCom.comBle
xdpchandler

sensorParam
setTimer

