## Packages à installer :

pip install pyserial
pip install opencv-python
pip install bleak
pip install nest_asyncio
pip install image
pip install colormath
pip install heatshrink2

pip install json
pip install os
pip install sys
pip install random

## Fichier à avoir :

ALookCom.anim
ALookCom.img
ALookCom.imgFmt
ALookCom.layout
ALookCom.commandPub
ALookCom.comBin
ALookCom.comFile
ALookCom.comBle import
xdpchandler

sensorParam
setTimer

