## Environnement :
Créer un environnement python 3.10


## Packages à installer :
Streamlit
pyserial
opencv-python
bleak
nest_asyncio
image
colormath
heatshrink2
json
os
sys
random

## Fichier à avoir :
ALookCom.anim
ALookCom.img
ALookCom.imgFmt
ALookCom.layout
ALookCom.commandPub
ALookCom.comBin
ALookCom.comFile
ALookCom.comBle import
xdpchandler

sensorParam
setTimer

